body {
    font-family: 'Raleway', sans-serif !important;
}

hr {
    background-color: white;
}

form {
    display: inline;
    padding: 0;
    margin: 0;
}

main {
    margin: 0 1.5em;
}

.jumbotron-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.navbar-light {
    background-color: #FF8C00;
    font-weight: 800;
    padding-left: 0;
}

.jumbotron-fluid {
    padding: 2vw 5vw;
    text-align: center;
    background: no-repeat center/cover url("zoran-zonde-stojanovski-44795-unsplash.jpg");
    color: white;
    font-weight: 800;
}

.submit-button {
    background-color: darkorange;
    font-weight: normal;
    color: black;
    border: 1px solid black;
    border-radius: 0;
    height: 2.5em;
    margin-top: 0.5em;
}

.submit-button:hover {
    color: gold;
    background-color: black;
    transition-property: color, background-color;
    transition-duration: 0.75s;
}

.email-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.lead {
    text-align: center;
}

.highlights-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0 15%;
}

.highlights-icon {
    align-self: center;
    font-size: 2em;
    color: darkorange;
}

.highlights-icon .fas {
    width: 10vw;
    text-align: center;
}

.highlights-desc {
    flex-basis: 90vw;
}

.highlights hr {
    width: 60%;
}

#header-img {
    margin-left: 1%;
    width: 300px;
    height: auto;
}

#email {
    text-align: center;
    border: 1px solid black;
    border-radius: 0;
    padding: 0 1em;
    margin: 0.5em 0.5em;
    height: 2.5em;

}

@media (max-width: 400px) {
    #header-img {
        width: 180px;
    }
}

@media (max-width: 566px) {
    .jumbotron-fluid {
        text-align: left;
    }
    
        .highlights-content {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    
    .highlights-icon {
        font-size: 3.5em;
    }
    
    .highlights-desc {
        flex-basis: 100vw;
    }
}
